<title>Input Form Test App</title>
<style>
	#Wrapper{
		text-align: center;
	}
</style>

<div id="wrapper">
	<h1>文字を入力してください</h1>
	<form method="post">
		{{ forms.csrf_token }}

		{{ forms.InputFormTest.lavel }}<br>
		{{ forms.InputFormTest }}<br>
		<br>

		{{ forms.submit }}
	</form>
</div>

<!-- <!DOCTYPE html>
<html lang="ja" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>
		{{message}} -->
		<!-- Hello World!<br>
		Templates から読み込まれました。 -->
	<!-- </body>
</html> -->
